body {
    /*height: auto;*/
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(golf_background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

h5 {
    background-color: white;
    text-align: center
}

.page-container {

}

.modal-title {
    text-align: center;
    background-color: white;
}

.modal-body {
    background-color: #dadfea
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course-select {
    padding: 20px;
}

.scorecard-container {
    background-color: transparent;
    /*border: 1px solid black;*/
    position: absolute;
    top: 40%;
    width: auto;
    height: auto;
}

#title-bar{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: darkolivegreen;
    border: 1px solid black;
}

#par {
    display: flex;
}

#yardage {
    display: flex;

}

#handicap {
    display: flex;
}

#holes {
    display: flex;
}

.title {
    font-weight: bold;
    background-color: white;
    width: 80px;
    padding-left: 3px;
}

input {
    /*width: 100px;*/
}

.col-sm {
    text-align: center;
    padding: unset;
}

.player-container {
    display: flex;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.bgColor {
    background-color: #d1c2c2;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    max-width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.finalBtn{
    right: 0;
    position: fixed;
    background-color: darkolivegreen !important;
    color: black !important;

}

.btn-dark{
    background-color: darkolivegreen !important;
}