body {
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(golf_background_image.png);
    background-repeat: no-repeat; 
    background-size: cover; 
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

h5{
    background-color: white;
    text-align: center
}

.modal-title {
    text-align: center;
    background-color: white;

}

.modal-body{
    background-color: #caf9d6
}
.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.course-select{
   padding: 20px;
}

.scorecard-container{
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 20%;
    width: auto;
    height: auto;

}
.par{
    display: flex;
}
.yardage{
    display: flex;

}
.handicap{
    display: flex;
}

.holes{
    display: flex;
}

.title{
    font-weight: bold;
    background-color: cornflowerblue;
    width: 75px;
}

.column{
    width: 50px;
    text-align: center;
}